:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: #0077b6;
  --text-color: #333;
  --text-secondary-color: #666;
  --white-color: #fff;
  --secondary-color: #e0e0e0;

  --primary-color-hover: #005f91;
  --error-color: #ff0000;
  --container-whitout-navbar: calc(100vh - 80px);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  /* outline: 1px solid rgba(255, 0, 0, 0.2); */
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--white-color);
  color: var(--text-color);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75em 1.5em;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-decoration: none;
  max-height: fit-content;
  line-height: normal;

  &-primary {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    max-width: 240px;

    &:hover {
      background-color: var(--primary-color-hover);
    }
  }

  &-secondary {
    background-color: #f4a261;
    color: var(--text-color);
    border: none;
    max-width: 240px;

    &:hover {
      background-color: #ea580c;
    }
  }

  &--tertiary {
    background-color: var(--white-color);
    color: var(--text-color);
    border: 1px solid var(--secondary-color);
    box-shadow: none;
    max-width: 240px;

    &:hover {
      background-color: var(--secondary-color);
    }
  }

  &--danger {
    background-color: #ff5757;
    color: var(--white-color);
    border: none;
    max-width: 240px;

    &:hover {
      background-color: #c62828;
    }
  }
}

.error-message {
  color: var(--error-color);
  font-size: 1rem;
  margin: 10px 0;
}

.section__container {
  max-width: 1200px;
  padding: 2rem;
  margin: 0 auto;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.loading-spinner {
  border: 5px solid var(--secondary-color);
  border-top: 5px solid var(--primary-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
