:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: #0077B6;
  --text-color: #333;
  --white-color: #fff;
  --secondary-color: #E0E0E0;

  --container-whitout-navbar: calc(100vh - 80px);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  /* outline: 1px solid rgba(255, 0, 0, 0.2); */
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--white-color);
  color: var(--text-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75em 1.5em;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-decoration: none;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
}

.btn-primary:hover {
  background-color: #005f91;
}

.btn-secondary {
  background-color: #F4A261;
  color: var(--white-color);
  border: none;
  max-width: 240px;
}

.btn-secondary:hover {
  background-color: #ea580c;
}

.btn--tertiary {
  background-color: var(--white-color);
  color: var(--text-color);
  border: 1px solid var(--secondary-color);
  box-shadow: none;
}

.btn--tertiary:hover {
  background-color: var(--secondary-color);
}

.error-message {
  color: red;
  font-size: 1rem;
  margin: 10px 0;
}

.section__container {
  max-width: 1200px;
}