.input-form {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

.input-form__label {
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: var(--text-color);
    font-size: 1rem;
}

.input-form__input {
    padding: 0.75em 1em;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    font-size: 1rem;
    font-family: inherit;
    background-color: var(--white-color);
    color: var(--text-color);
    transition: all 0.25s;
}

.input-form__input:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 119, 182, 0.2);
}

.input-form__input--invalid {
    border-color: red;
}

.input-form__error {
    min-height: 1.2rem;
    font-size: 0.85rem;
    margin-top: 0.4rem;
    color: red;
    transition: opacity 0.3s ease;
    opacity: 1;
}

.input-form__error:empty {
    visibility: hidden;
}

.title-form-h1 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: var(--primary-color);
    text-align: center;
}

.form--navigate-link {
    margin-top: 1rem;
    text-align: center;
}

.form--navigate-link a {
    color: var(--primary-color);
    text-decoration: none;
}

.form--navigate-link a:hover {
    text-decoration: underline;
}

@media (min-width: 480px) {
    .title-form-h1 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
        color: var(--primary-color);
        text-align: center;
    }
}