.itinerary__hero {
  position: relative;
  width: 100%;
  height: var(--container-whitout-navbar);
  background-image: url("/images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  height: 25vh;

  &-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &-content {
    position: absolute;
    color: var(--white-color);
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &-stats {
      display: flex;
      flex-direction: row;

      &-days {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
      }
    }
  }
}

.nav-icon {
  font-size: 1.2rem;
  width: fit-content;
}

.itinerary__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  &-primary {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-stats {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
      padding: 1.5rem 0;

      & > div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
    }

    &-places {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  &-secondary {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .icon {
    font-size: 1.5rem;
    color: var(--primary-color);
    align-items: center;
    display: flex;
  }

  .place {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px dotted var(--text-secondary-color);
    padding: 1.5rem;
    border-radius: 8px;

    &__info {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
      width: 100%;

      &-left {
        width: fit-content;
      }
    }
  }
}

@media (min-width: 768px) {
  .itinerary__container {
    flex-direction: row;

    &-primary {
      width: 60%;
    }
    &-secondary {
      width: 40%;
    }
  }
}
